* {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}
body {
    background-color: black;
}

/* Style for the recipebox flex container */
.recipebox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(125, 71, 212); 
    justify-content: space-evenly;
    align-items: center; /* Adjust as needed */
    justify-content: space-around; /* Center items horizontally */
    max-width: max-content; /* Set the max width to the width of the content */
    padding: 0 5px; /* Add 5px padding on each side to create a 10px difference */
    margin: 0 auto;
    border-radius: 5px;
}

/* Style for each item within the recipebox */
.item {
    flex: 0 0 auto; /* Let the item's content determine its width */
    margin: 10px; /* Add spacing between items */
    padding: 10px;
    background-color: darkslateblue;
    margin: 10px; /* Add spacing between items */
    text-align: center;
    min-width: 200px;
    border-radius: 5px;
}

/* Style for the image within each item */
.item img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image if it exceeds the specified dimensions */
    border-radius: 5px;
}

/* Style for the text within each item */
.item p {
    margin-top: 10px;
}

/* Style for links */
.item a {
    text-decoration: none;
    color: white;
}